@model List<Event>;

<div class="row">
    <div class="col-sm-8">
        <h2>Dojo Activity Center</h2>
    </div>
    <div class="col-sm-4" style="margin: auto">
        <h4 style="display: inline-block;">Welcome, @ViewBag.User.Name</h4>
        <a style="display: inline-block; margin-left: 50px" asp-action="Logout" asp-controller="Home">Logout</a>
    </div>
</div>
<hr style="border: 1px solid black;">
<table class="table table-stripped table-bordered">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date and Time</th>
            <th>Duration</th>
            <th>Event Coordinator</th>
            <th>No. of Participants</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (Event e in Model)
    {
    <tbody>
        <tr>
            <td><a asp-controller="Home" asp-action="ActivityInfo" asp-route-id="@e.EventId">@e.Name</a></td>
            <td>@e.Date.Month/@e.Date.Day at @e.Time</td>
            <td>@e.Duration @e.HourOrMin</td>
            <td>@e.Creator.Name</td>
            <td>@e.EventList.Count</td>
            @if (e.Creator.UserId == @ViewBag.uid )
            {
                <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@e.EventId">Delete</a></td>
            }
            else
            {
                @if(@e.EventList.Any(user => user.UserId == @ViewBag.uid))
                {
                    <td><a href="/Leave/@e.EventId">Leave</a></td> 
                }
                else
                {
                    <td><a href="/Join/@e.EventId">Join</a></td> 
                }
            }
        </tr>
    </tbody>
    }
</table>
<div class="text-right">
    <a class="btn btn-info" asp-action="NewActivityPage" asp-controller="Home">Add New Activity</a>
</div>